div.wy-side-nav-search .version {
    color: #c4c4c4;
    font-weight: bold;
}

nav.wy-nav-top {
    background: #009ADA;
}

div.wy-nav-content {
    max-width: 1000px;
}

span.caption-text {
    color: #009ADA;
}